*{
    margin: 0;
    padding: 0;
    
}
.heading-1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-bottom: 20px;

}
span {
    color: crimson;
}
.flexible-container {
    display: flex;
    margin-bottom: 100px;
}
.first-impression {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.div_1 {
    margin: 20px;
    padding: 20px;
    width: 50%;
    padding-left: 5px;
}
.div_1 h3 {
    font-size: 25px;
    padding: 10px 0;
}
.div_1 p {
    padding: 5px 0;
}
.div_1 img {
    width: 80%;
}
button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-left: 3px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    font-weight: 700;

}
button a {
    text-decoration: none;
}

.dream_big {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience_area {
    margin: 10px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;

}
.experience_area h1 {
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    font-size: 40px;
    margin-left: 5px;
}
.ex-items {
    margin: 30px;
    padding: 20px;
    
}
.ex_div_1 {
    border-left: 5px solid #df4040;
    background-color: #eee;
    box-shadow: 8px 6px 15px gray;
}
.ex_div_2 {
    border-left: 5px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
    background-color: #eee;
    box-shadow: 8px 6px 15px gray;
}
.ex-heading {
    text-size-adjust:inherit;
}
.status {
    font-size: 20px;
    color: rgb(188, 190, 16);
}
#footer {
    text-align: center;
}